.face {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 50px auto;
  height: 70vh;
}

.face-img {
  width: 80%;
  height: 80%;
  margin: auto;

  border-radius: 10px;

  background-image: url(../coverimg/whatmoneycantbuy.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.face-body {

  text-align: center;
  margin: auto 30px;
  padding: 60px 20px;

  border-radius: 30px;

  background: rgba(225, 225, 225, 0.558);
}

.face-body-h1 {
  word-spacing: 3px;
}

.face-body-p {
  padding: 20px;
  word-spacing: 2px;
  color: rgba(0, 0, 0, 0.658);
}

.btn-dark {
  margin-top: 40px;
}

@media screen and (max-width: 850px) {
  .face {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 20px auto;
  }

  .face-img {
    width: 50%;
    height: 50%;
  }

  .face-body {
    border-top: 0.2px solid rgb(121, 121, 121);
    margin: 10px auto;
    background: none;

    margin: auto 16px;

    border-bottom: 0.2px solid rgb(121, 121, 121);
  }

  .face-body-p {
    font-size: 20px;
  }
  .face-body-h1 {
    font-size: 23px;
  }
}

@media screen and (max-width: 520px) {
  .face-img {
    width: 50%;
    height: 50%;
    margin: 10px auto;
  }
  .face-body-h1 {
    font-size: 20px;
  }
  
  .face-body-p {
    padding: 5px;
    font-size: 18px;
  }
  .face-body {
    margin: 0 3px;
  }
}